@model MultiLanguage_MVC_FrameWork.Models.Account

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Content.Register</title>
</head>
<body>

    <a href="@Url.Action("ChangeLanguage", "Account", new { lang = "en" })">English</a> |
    @*<a href="@Url.Action("ChangeLanguage", "Account", new { lang = "fr" })">French</a> |*@
    <a href="@Url.Action("ChangeLanguage", "Account", new { lang = "de" })">German</a>
    <br />

    <h3>Number Format</h3>
    @{ var number = 1234567; }
    Number: @number.ToString("N")

    <h3>Currency Format</h3>
    @{ var price = 1234567; }
    Price: @price.ToString("C")

    <h3>Percent Format</h3>
    @{ var percent = 12.34; }
    Percent: @percent.ToString("P")

    <h3>DateTime Format</h3>
    Today: @DateTime.Now.ToString("D")

    <h3>@Resources.Content.Register</h3>
    @using (Html.BeginForm("Save", "Account"))
    {
        <table cellpadding="2" cellspacing="2" border="0">
            <tr>
                <td>@Resources.Content.Username</td>
                <td>@Html.TextBoxFor(model => model.Username)</td>
            </tr>
            <tr>
                <td>@Resources.Content.Password</td>
                <td>@Html.PasswordFor(model => model.Password)</td>
                
            </tr>
            <tr>
                <td>@Resources.Content.FullName</td>
                <td>@Html.TextBoxFor(model => model.FullName)</td>
            </tr>
            <tr>
                <td>@Resources.Content.Address</td>
                <td>@Html.TextBoxFor(model => model.Address)</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2"><input type="submit" value="@Resources.Content.Save" /></td>
            </tr>
        </table>
    }

</body>
</html>