@model MultiLanguage_MVC_FrameWork.Models.Account

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Content.Register</title>
</head>
<body>

    <a href="@Url.Action("ChangeLanguage", "Account", new { lang = "en" })">English</a> |
    <a href="@Url.Action("ChangeLanguage", "Account", new { lang = "de" })">German</a>
    <br />


   

    <h3>Number Format</h3>
    @{ var number = 1234567; }
    Number: @number.ToString("N")

    <h3>Currency Format</h3>
    @{ var price = 1234567; }
    Price: @price.ToString("C")

    <h3>Percent Format</h3>
    @{ var percent = 12.34; }
    Percent: @percent.ToString("P")

    <h3>DateTime Format</h3>
    Today: @DateTime.Now.ToString("D")


    <div class="row">
        <div class="col-4">
            <h3>@Resources.Content.Register</h3>
            <form class="border">
                <div class="row p-1">
                    <div class="form-group">
                        <label for="username">@Resources.Content.Username</label>
                        <input class="form-control" type="text" id="username" />
                    </div>


                </div>

                <div class="row p-1">
                    <div class="form-group">
                        <label for="password">@Resources.Content.Password</label>
                        <input class="form-control" type="password" id="password" />
                    </div>

                </div>

                <div class="row p-1">
                    <div class="form-group">
                        <label for="fullName">@Resources.Content.FullName</label>
                        <input class="form-control" type="text" id="fullName" />
                    </div>



                </div>

                <div class="row p-1">
                    <div class="form-group">
                        <label for="address">@Resources.Content.Address</label>
                        <input class="form-control" type="text" id="address" />
                    </div>



                </div>

                <div class="row p-1">
                    <div class="col-3">
                        <input class="form-control btn btn-primary" type="submit" value="@Resources.Content.Save" />
                    </div>
                    <div class="col-9">

                    </div>

                </div>
            </form>
        </div>

        <div class="col-8">
            <h3>@Resources.Content.Description</h3>
            <div class="row p-1">

                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>


            </div>
        </div>

    </div>




</body>
</html>